<mat-card>
  <mat-card-title>Items</mat-card-title>
  <mat-card-subtitle>{{ (tally | async)?.totalCount }} items</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <table mat-table [dataSource]="items | async">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let item"> {{ item.name }} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let item"> {{ item.quantity }} </td>
      </ng-container>
      <ng-container matColumnDef="bought">
        <th mat-header-cell *matHeaderCellDef> Bought </th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox [(ngModel)]="item.bought" (change)="updateBought(item)"></mat-checkbox>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'quantity', 'bought']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'quantity', 'bought'];"></tr>
    </table>
  </mat-card-content>
</mat-card>